<%= form_with model: @list do |form| %>
  <%= form.hidden_field :user_id, value: current_user&.id %>
  <%= form.label :description %>
  <%= form.text_field :description %>
  <div class="actions">
    <%#= form.submit t('submit'), class:'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer' %>
    <%= form.submit class:'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer' %>
  </div>
<% end %>
