<div class="w-full flex items-center justify-center py-6">
  <% if user_signed_in? %>
    <%= link_to "new post", new_post_path, data: { turbo: false }, class: 'text-center bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded' %>
    <%= link_to "log out", destroy_user_session_path, data: { turbo: false }, class: 'text-center bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded' %>
  <% else %>
    <%= link_to "sign up", new_user_registration_path, data: { "turbo-frame": "_top" }, class: 'text-center bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded' %>
    <%= link_to "log in", new_user_session_path, data: { "turbo-frame": "_top" }, class: 'text-center bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded' %>
  <% end %>
  <%= link_to "open modal", open_modal_path, class: 'text-center bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded' %>
  <%= link_to "items", items_path, data: { "turbo-frame": "_top" }, class: 'text-center bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded' %>
  <%= link_to "new item", new_item_path, data: { "turbo-frame": "_top" }, class: 'text-center bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded' %>
  <%= link_to "lists", lists_path, data: { "turbo-frame": "_top" }, class: 'text-center bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded' %>
  <%= link_to "new list", new_list_path, data: { "turbo-frame": "_top" }, class: 'text-center bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded' %>
</div>

<div class="container mx-auto">
  <%= turbo_frame_tag :posts do %>
    <% if @posts.count.zero? %>
      <p>No Posts</p>
    <% else %>
      <%= render @posts %>
    <% end %>
  <% end %>
</div>
